:root {
  --color-accent: oklch(65% 50% 0);
}

html {
  accent-color: var(--color-accent);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  padding-inline: 1em;
}

nav ul, nav li {
  display: contents;
}

nav {
  display: flex;
  border-bottom: 1px solid oklch(80% 3% 200);
  margin-bottom: 1em;
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
}

.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 5% h);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

form button {
  grid-column: 1 / -1;
}

input, textarea, button {
  font: inherit;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
  margin-top: 2em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.projects h2 {
  margin: 0;
}


.projects article:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%;
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}

section h2 {
  font-size: 200%;
  margin-bottom: 0.5em;
  border-bottom: 2px solid var(--color-accent);
  padding-bottom: 0.2em;
}

section h3 {
  font-size: 150%;
  margin-top: 1em;
  margin-bottom: 0.2em;
}

section p, section time, section ul, section li {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

section ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

section a {
  color: var(--color-accent);
  text-decoration: underline;
}


strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em auto;
  max-height: 500px; 
}